<a href="https://colab.research.google.com/github/emilydiana/test/blob/master/Copy_of_Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIS 545 - Big Data Analytics - Fall 2019

# Homework 2: Querying Linked (LinkedIn) Data

# Due October 11, 2019 at 10pm

Have you ever wondered about (1) what it takes to be a data scientist or "data person", and (2) how social networks and recommender systems work?

This homework is focused on (1) working with hierarchical data stored in dataframes, (2) traversing relationships among data, including graph data, (3) understanding a bit about performance.

We will focus on questions about data scientists from "our" crawl of the LinkedIn dataset, which was also used in the Lecture (module) 2 extended notebook.

In [1]:
!pip install pymongo[tls,srv]
!pip install swifter
!pip install lxml

Requirement already satisfied: pymongo[srv,tls] in /usr/local/lib/python3.6/dist-packages (3.9.0)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv,tls]) (1.16.0)
Requirement already satisfied: swifter in /usr/local/lib/python3.6/dist-packages (0.295)
Requirement already satisfied: tqdm>=4.33.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (4.36.1)
Requirement already satisfied: parso>0.4.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (0.5.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (0.24.2)
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from swifter) (0.40.1)
Requirement already satisfied: dask[complete]>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (1.1.5)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from swifter) (7.5.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from swifter) (5.4.8)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->swifter) (1.16.5)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->swifter) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->swifter) (2.5.3)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->swifter) (0.29.0)
Requirement already satisfied: cloudpickle>=0.2.1; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (0.6.1)
Requirement already satisfied: partd>=0.3.8; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (1.0.0)
Requirement already satisfied: distributed>=1.22; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (1.25.3)
Requirement already satisfied: toolz>=0.7.3; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]>=0.19.0->swifter) (0.10.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (4.3.2)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (4.6.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (3.5.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (5.5.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->swifter) (4.4.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.23.0->swifter) (1.12.0)
Requirement already satisfied: locket in /usr/local/lib/python3.6/dist-packages (from partd>=0.3.8; extra == "complete"->dask[complete]>=0.19.0->swifter) (0.2.0)
Requirement already satisfied: tblib in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.4.0)
Requirement already satisfied: msgpack in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (0.5.6)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (7.0)
Requirement already satisfied: tornado>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (4.5.3)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.0.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (2.1.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (3.13)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->swifter) (4.4.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->swifter) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (5.3.3)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.2.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (4.7.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (2.1.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (1.0.16)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (41.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (4.5.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=1.22; extra == "complete"->dask[complete]>=0.19.0->swifter) (1.0.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (17.0.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.6.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (2.10.1)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->swifter) (0.1.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (1.1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.5.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

In [0]:
import pandas as pd
import numpy as np
import json
import sqlite3
from lxml import etree
import urllib
import zipfile

import time
import swifter
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError, OperationFailure

# Step 0: Acquire and load data

We need to pull the zipfile with LinkedIn data from Amazon S3 (where it is shared) to your local machine or the Google Colab cloud-hosted machine.  Only when the data is local can we efficiently parse it (and we'll read directly out of a zip file).

The zip file contains three files with the same schema.  You can start with the `tiny` instance to test your queries, then go on to `small`.  If you're brave and have a lot of time feel free to use the full file.

**We will grade your homework using `small`. Hidden test 0.0 will override your file selection, so as long as you do not change the file selection in a cell that comes after that one, you will be fine.**

* `linkedin.json` (3M records)
* `linkedin_small.json` (100K records)
* `linkedin_tiny.json` (10K records)

The cell below will download a 3GB file to your Google Cloud. It may take a while. You do not need to modify the two cells below.

In [0]:
url = 'https://upenn-bigdataanalytics.s3.amazonaws.com/linkedin.zip'
filehandle, _ = urllib.request.urlretrieve(url,filename='local.zip')
filehandle = 'local.zip'

In [4]:
# What's the zip file actually called locally?

filehandle

'local.zip'

The cell below creates pointers to the three versions of our dataset. To switch between them, simply change the `file` variable in the cell after the cell below.

In [0]:
def fetch_file(fname):
    zip_file_object = zipfile.ZipFile(filehandle, 'r')
    for file in zip_file_object.namelist():
        file = zip_file_object.open(file)
        if file.name == fname: return file
    return None
    
linkedin_tiny = fetch_file('linkedin_tiny.json')
linkedin_small = fetch_file('linkedin_small.json')
linkedin_huge = fetch_file('linkedin.json')

In [0]:
# CIS 545 Hidden Test 0.0 - please do not modify or delete this cell!

# Set the input file to process
file = linkedin_small

## Step 0.1:  Store data in dataframes

In the cell below, adapt the data loading code from the [in-class notebook](https://colab.research.google.com/drive/1V-QGYHI3YdLVv3sjnfQn7xmy6xEdjJnm).  You will need the function that extracts relations from JSON files and the function that converts relations to dataframes. Read in a maximum of 20000 people. Put the code that reads a line of the file, extracts the relations, removes the interval field, and stores the field information with a try statement, just in case. In the error case, just use a `pass` command to move on. At the end of the next cell, you should have nine dataframes with the following names:

1. `people_df`
2. `names_df`
3. `education_df`
4. `groups_df`
5. `skills_df`
6. `experience_df`
7. `honors_df`
8. `also_view_df`
9. `events_df`

In [0]:
# TODO: Adapt the data loading code from class.
#my_list = [json.loads(line) for line in file]
'''
Simple code to pull out data from JSON and load into sqllite
'''
linked_in = urllib.request.urlopen('https://www.cis.upenn.edu/~cis545/xaa')

START = 0
LIMIT = 20000

def get_df(rel):
    ret = pd.DataFrame(rel).fillna('')
    for k in ret.keys():
        ret[k] = ret[k].astype(str)
    return ret

def extract_relation(rel, name):
    '''
    Pull out a nested list that has a key, and return it as a list
    of dictionaries suitable for treating as a relation / dataframe
    '''
    # We'll return a list
    ret  = []
    if name in rel:
        ret2 = rel.pop(name)
        try:
            # Try to parse the string as a dictionary
            ret2 = json.loads(ret2.replace('\'','\"'))
        except:
            # If we get an error in parsing, we'll leave as a string
            pass
        
        # If it's a dictionary, add it to our return results after
        # adding a key to the parent
        if isinstance(ret2, dict):
            item = ret2
            item['person'] = rel['_id']
            ret.append(item)
        else:
            # If it's a list, iterate over each item
            index = 0
            for r in ret2:
                item = r
                if not isinstance(item, dict):
                    item = {'person': rel['_id'], 'value': item}
                else:
                    item['person'] = rel['_id']
                    
                # A fix to a typo in the data
                if 'affilition' in item:
                    item['affiliation'] = item.pop('affilition')
                    
                item['pos'] = index
                index = index + 1
                ret.append(item)
    return ret
    

names = []
people = []
groups = []
education = []
skills = []
experience = []
honors = []
also_view = []
events = []


conn = sqlite3.connect('linkedin.db')

lines = []
i = 1
for line in linked_in:
    if i > START + LIMIT:
        break
    elif i >= START:
        person = json.loads(line)

        # By inspection, all of these are nested dictionary or list content
        nam = extract_relation(person, 'name')
        edu = extract_relation(person, 'education')
        grp = extract_relation(person, 'group')
        skl = extract_relation(person, 'skills')
        exp  = extract_relation(person, 'experience')
        hon = extract_relation(person, 'honors')
        als = extract_relation(person, 'also_view')
        eve = extract_relation(person, 'events')
        
        # This doesn't seem relevant and it's the only
        # non-string field that's sometimes null
        if 'interval' in person:
            person.pop('interval')
        
        lines.append(person)
        names = names + nam
        education = education + edu
        groups  = groups + grp
        skills = skills + skl
        experience = experience + exp
        honors = honors + hon
        also_view = also_view + als
        events = events + eve
        
    i = i + 1

people_df = get_df(pd.DataFrame(lines))
names_df = get_df(pd.DataFrame(names))
education_df = get_df(pd.DataFrame(education))
groups_df = get_df(pd.DataFrame(groups))
skills_df = get_df(pd.DataFrame(skills))
experience_df = get_df(pd.DataFrame(experience))
honors_df = get_df(pd.DataFrame(honors))
also_view_df = get_df(pd.DataFrame(also_view))
events_df = get_df(pd.DataFrame(events))

In [8]:
# CIS 545 Sanity Check 0.1 - please do not modify or delete this cell!

display(experience_df)

                                                    desc  ...                                              title
0      Biomarker Leader for compounds in clinical dev...  ...              Senior Scientist, Oncology Biomarkers
1                           Single Cell Gene expression.  ...            Associate at Dept of Molecular Genetics
2      Work on peptide to restore wt p53 function in ...  ...                       Associate Research Scientist
3              Molecular profiling of colorectal cancer.  ...                      Post Doctoral Research Fellow
4      Cancer Research at Dept of Surgery.Molecular p...  ...                                 Research Scientist
5                                                         ...                                Assistant Professor
6                                                         ...                      Technology Development Fellow
7      Creation of Ning site with integration to back...  ...                                               Ning
8      .Net 4.0 / C# / VS 2010 / Silverlight 4.0 / Bl...  ...  .Net 4.0 / C# / VS 2010 / Silverlight 4.0 / Bl...
9      The new address for Business Intelligence Tool...  ...                                              Owner
10     ASP.NET / C# / SQL 2005 / XML / XSD , create a...  ...                ASP.NET / C# / SQL 2005 / XML / XSD
11     PHP / MySQL, website fixes to existing telepho...  ...                                        PHP / MySQL
12     VB 6 / SQL, small fixes to existing Temperatur...  ...                                         VB 6 / SQL
13     ASP.NET / WSDL / JavaScript small website fixe...  ...                        ASP.NET / WSDL / JavaScript
14     ASP.NET / C# / SQL 2005 , resource files, glob...  ...                            ASP.NET / C# / SQL 2005
15     Created MS Access database to record and repor...  ...                                          MS Access
16     C# / MS Vista / Ant Profiler, find and documen...  ...                       C# / MS Vista / Ant Profiler
17     ASP.NET / VB.NET / SQL / XML, Custom portal to...  ...                       ASP.NET / VB.NET / SQL / XML
18     Analysis and consultation on upgrade paths for...  ...                                  ASP / CRM / HRXML
19     ASP.NET / C# / SQL 2005 / IIS 6.0 / Clients Cu...  ...  ASP.NET / C# / SQL 2005 / IIS 6.0 / Clients Cu...
20     EDI setup, Sterling Commerce Gentran Director,...  ...                                          EDI setup
21     ASP.NET / SQL, created website for Emergency S...  ...                                      ASP.NET / SQL
22     MS Access, Modified existing report generation...  ...                                          MS Access
23     VB / SQL/ ASP, analysis of Paradigm Medical ap...  ...                                      VB / SQL/ ASP
24     VB.NET / Win Forms / SQL, Automated Internet S...  ...                           VB.NET / Win Forms / SQL
25     MS Access, Project {1} Create tenant managemen...  ...                                          MS Access
26     SQL / ASP, Modified existing website for 3rd p...  ...                                          SQL / ASP
27     VB / SQL, Setup in-house development environme...  ...                                           VB / SQL
28     Building of NT Web Server, NTFS, IIS4, SQL Ser...  ...  Building of NT Web Server, NTFS, IIS4, SQL Ser...
29     VB / MS Access / Custom Active-X, Version 1.0 ...  ...                   VB / MS Access / Custom Active-X
...                                                  ...  ...                                                ...
46081                                                     ...                                    Trade Marketing
46082  Realizando funciones en el Departamento de Tra...  ...                               Ejecutivo de Cuentas
46083    Trabajando exclusivamente para Carrefour Textil  ...                               Ejecutivo de Cuentas
46084  Trabajando principalmente para Telefónica Movi...  ...                               Ejecutivo de Cuentas
46085  Manage the whole site operation activities and...  ...                                       Site Manager
46086  Managed continuous production increment and si...  ...                                      Plant Manager
46087  Major responsibilities:In charge of all the CA...  ...                  Technical Services and IT Manager
46088  Transferred to Singapore from Italy to be resp...  ...                                    Process Manager
46089  In charge of the development of the Basic Engi...  ...                                    Project Manager
46090                                                     ...                                   Project Engineer
46091  In charge of process study and major projects ...  ...                                   Process Engineer
46092                                                     ...                                         Researcher
46093                                                     ...                                         Researcher
46094                                                     ...                  Director de desarrollo de negocio
46095  - Organización y gestión de la red (120 person...  ...  Director de Talleres – Director de Marketing y...
46096  - Gestión de las actividades comerciales y ope...  ...  Director de Marketing y Desarrollo – Director ...
46097  - Gestión de las actividades comerciales y ope...  ...                                Director Region Sur
46098  Delivery Responsible for the corporate intrane...  ...           Head of Internal Communications in Spain
46099  Employee Relations (Social dialogue and negoti...  ...                            Human Resources Manager
46100  Employee Relations (Social dialogue and negoti...  ...                            Human Resources Manager
46101  H&S advise to companies, implementing a comple...  ...                       Health and Safety Supervisor
46102                                                     ...                                      Labour Lawyer
46103  Main activities: responsible for the configura...  ...                            Implementation engineer
46104                                                     ...                                         Consultant
46105  Main activities: functional analysis, developm...  ...                        Product definition engineer
46106  Main activities: analysis, development, test a...  ...                              Tester and developper
46107                                                     ...                                         Consultant
46108                                                     ...                                     Sales Director
46109  Sales Director Italiy , for a Branch of Atari ...  ...                                     sales director
46110  Sales Manager Italy distributor of software an...  ...                                Sales Manager Italy

[46111 rows x 7 columns]

In [0]:
# CIS 545 Hidden Test 0.1.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 0.1.2 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 0.1.3 - please do not modify or delete this cell!

## Step 0.2: Convert to SQL

Next save the data to SQLite...  Again, using the same approach as in the sample notebook.

In [0]:
#conn = sqlite3.connect('linkedin.db')
people_df.to_sql('people', conn, if_exists='replace', index=False)
names_df.to_sql('names', conn, if_exists='replace', index=False)
education_df.to_sql('education', conn, if_exists='replace', index=False)
groups_df.to_sql('groups', conn, if_exists='replace', index=False)
skills_df.to_sql('skills', conn, if_exists='replace', index=False)
experience_df.to_sql('experience', conn, if_exists='replace', index=False)
honors_df.to_sql('honors', conn, if_exists='replace', index=False)
also_view_df.to_sql('also_view', conn, if_exists='replace', index=False)
events_df.to_sql('events', conn, if_exists='replace', index=False)

In [10]:
# CIS 545 Sanity Check 0.2.1 - please do not modify or delete this cell!

people_df.describe()

                 _id homepage  ... summary                                 url
count          10000    10000  ...   10000                               10000
unique         10000      238  ...    5747                               10000
top     in-ajaydubey           ...          http://www.linkedin.com/in/aebrest
freq               1     9763  ...    4248                                   1

[4 rows x 9 columns]

In [11]:
# CIS 545 Sanity Check 0.2.2 - please do not modify or delete this cell!

skills_df.describe()

               person     pos               value
count          110065  110065              110065
unique           7567      50               16156
top     in-airiancook       0  Project Management
freq               50    7567                 714

In [12]:
# CIS 545 Sanity Check 0.2.3 - please do not modify or delete this cell!

experience_df.describe()

         desc    end    org      person    pos         start              title
count   46111  46111  46111       46111  46111         46111              46111
unique  27057     13  33171        8670     57          1118              27095
top                     IBM  in-abaid4u      0  January 2011  Software Engineer
freq    18793  35273    156          57   8670           511                496

# Step 1: What is a data scientist?

In this homework, we will use LinkedIn to analyze what it means to be a data scientist (as of a few years ago).

## Step 1.1: What are common skills for data scientists?

Our first question is:  for anyone who's job revolves around data (database administrators, data curators, data engineers, data scientists), *what are the most common skills*?

### Step 1.1.1: Collect skills (Pandas)

Complete the `collect_skills` function below. This and the other functions in this homework allow us to evaluate the correctness of your queries even if your data do not match ours. The function should:

1. Using `experience_df`, find all people with a position containing "data" in the title. Remember upper versus lower case.
2. Using `skills_df`, find all people with "data science" as a skill. Again, remember to account for case.
3. For all of the unique people found in steps 1 and 2, find the rest of their skills
4. Return a dataframe of the top 15 skills, by frequency  (see pandas.DataFrame.sort_values).  The columns should be called `skill` (the name of the skill) and `scientists` (the count of the number of data scientists with this skill).

In [0]:
def collect_skills(experience_df, people_df, skills_df):
  #experience_df['lower_title'] = experience_df['title'].apply(lambda x: x.lower())
  #exp_people = experience_df[experience_df['lower_title'].str.contains('data')]['person']
  exp_people = experience_df[experience_df['title'].apply(lambda x : x.lower()).str.contains('data')]['person']
  skills_df['lower_value'] = skills_df['value'].apply(lambda x: x.lower())
  skill_people = skills_df[skills_df['lower_value'].str.contains('data science')]['person']
  unique = exp_people.append(skill_people).unique()
  unique_df = get_df(pd.DataFrame(unique))
  unique_df.columns = ['person']
  all_skills_df = unique_df.merge(skills_df, on = 'person' )
  lower_sorted = all_skills_df.groupby('lower_value', as_index=False).count()
  test = lower_sorted.sort_values(by = ['pos'], ascending=False)
  final = test[['lower_value','pos']].head(15)
  final.columns = ['skill','scientists']
  return final

In [20]:
# CIS 545 Sanity Check 1.1.1 - please do not modify or delete this cell!

top_skills_df = collect_skills(experience_df, people_df, skills_df)
display(top_skills_df)

if "skill" not in top_skills_df:
    raise AssertionError("skill column not defined")
if "scientists" not in top_skills_df:
    raise AssertionError("scientists column not defined")
if len(top_skills_df) != 15:
    raise AssertionError("dataframe does not have top 15")

48              in-001monica
288                in-061566
351              in-08012008
1267          in-1hansdeboer
1439              in-1mereng
1545          in-1rajangupta
2291             in-39isfine
2343              in-3drayfx
2940              in-6ix4our
3037             in-78697869
3079              in-8050spx
3388               in-aaalee
3389               in-aaalee
3404          in-aabdelhalim
3652              in-aadrake
3677         in-aadvanderwal
3930            in-aalakhani
3931            in-aalakhani
3935            in-aalakhani
4158     in-aamir22647shaikh
4296               in-aandre
4414              in-aaqwang
4426               in-aarani
4546              in-aaron99
4754     in-aaronchristenson
5010            in-aaronemde
5116          in-aarongenest
5176         in-aarongregory
5203          in-aarongrogan
5546           in-aaronkreag
                ...
42996         in-alanhowlett
42999         in-alanhowlett
43002         in-alanhowlett
43003         in-alanhowlett
43004         in-alanhowlett
43005         in-alanhowlett
43072        in-alanjohnston
43619        in-alanoconnor1
43689             in-alanpou
43827            in-alanrosa
43882      in-alanruttenberg
44309         in-alanwaldman
44310         in-alanwaldman
44523      in-alaouisawadogo
44666       in-alasdairelder
44911             in-alatech
45023         in-albacanovas
45251              in-albees
45324        in-albertaltino
45477         in-albertcwong
45479         in-albertcwong
45480         in-albertcwong
45481         in-albertcwong
45588            in-albertft
45616        in-albertganzon
45720         in-albertkramp
45856     in-albertnsamirizi
45861          in-albertnube
45865          in-albertnube
45866          in-albertnube
Name: person, Length: 296, dtype: object

                      skill  scientists
1179                    sql          31
117   business intelligence          30
288        data warehousing          24
265           data analysis          22
749        microsoft office          22
992      project management          21
612                    java          19
109       business analysis          17
528                    html          17
847                  oracle          17
296               databases          16
1185             sql server          16
791                   mysql          15
1159   software development          15
400                     etl          14

In [0]:
# CIS 545 Hidden Test 1.1.1.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.1.1.2 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.1.1.3 - please do not modify or delete this cell!

### Step 1.1.2: Top skills (SQL)

Compute the same table as in 1.1.1 using SQL. Store it as `top_skills_sql` but otherwise matching the schema and other properties. Be sure to also save the data to SQLLite in a table called `top_skills`, as we will be testing to see if this table exists.

In [15]:
#use pandas sql or sqllite sql
mysql_statement_exp = """CREATE VIEW exp AS SELECT * FROM experience WHERE title LIKE '%data%'; """
#conn.execute(pd.read_sql(mysql_statement_exp, con = conn))
conn.execute(exp = pd.read_sql(mysql_statement_exp, conn))
mysql_statement_skills = """SELECT * FROM skills WHERE value LIKE '%data science%'; """
#skills = pd.read_sql_query(mysql_statement_skills, conn)
#type(exp)
#unique = exp.append(skill).unique()
#unique_df = get_df(pd.DataFrame(unique))
#unique_df.columns = ['person']
#all_skills_df = unique_df.merge(skills_df, on = 'person' )
#lower_sorted = all_skills_df.groupby('lower_value', as_index=False).count()
#test = lower_sorted.sort_values(by = ['pos'], ascending=False)
#final = test[['lower_value','pos']].head(15)
#final.columns = ['skill','scientists']
#people = pd.read_sql_query('select * from people', conn)

#top_skills_sql = collect_skills(exp, people, skills)
#top_skills_sql.to_sql('top_skills', conn, if_exists='replace', index=False)
#display(top_skills_sql)

DatabaseError: ignored

In [0]:
# CIS 545 Sanity Check 1.1.2 - please do not modify or delete this cell!

if "skill" not in top_skills_sql:
    raise AssertionError("skill column not defined")
if "scientists" not in top_skills_sql:
    raise AssertionError("scientists column not defined")
if len(top_skills_df) < 1:
    raise AssertionError("dataframe has no results")  
if len(top_skills_sql.merge(top_skills_df)) != len(top_skills_sql):
    raise AssertionError("Pandas and SQL versions are not of the same length")

In [0]:
# CIS 545 Hidden Test 1.1.2 - please do not modify or delete this cell!

## Step 1.2: What are common titles for those with data science skills?

Complete the `collect_titles` function below that aggregates the most recent titles of people with data science skills. This function should use the given dataframes as input and return a two column dataframe: one column called `title` and the other called `count`. You should only consider people who have at least `min_skills` of the top skills for a data scientist. You should also only keep those titles that appear at least `min_count` times.

For extra practice, you can also do this in SQL, although we are not grading that.

In [0]:
def collect_titles(top_skills_df, skills_df, people_df, experience_df, min_skills, min_count):
  people_with_skills = top_skills_df.merge(skills_df, left_on = 'skill', right_on = 'lower_value')
  people_counted = people_with_skills.groupby('person', as_index=False).count()
  people_with_min_skills = people_counted[people_counted['skill']>=min_skills]
  recent_experience_df = experience_df[experience_df['end']=='Present']
  relevant_titles = people_with_min_skills.merge(recent_experience_df, left_on='person', right_on='person')
  relevant_titles = people_with_min_skills.merge(experience_df, left_on='person', right_on='person')
  titles_counted = relevant_titles.groupby('lower_title', as_index=False).count()
  titles_with_min_count = titles_counted[titles_counted['lower_value']>=min_count]
  final = titles_with_min_count[['lower_title','person']]
  final.columns = ['title','count']
  return final

In [0]:
# CIS 545 Sanity Check 1.2 - please do not modify or delete this cell!

ds_titles_df = collect_titles(top_skills_df, skills_df, people_df, experience_df, 6, 2)
display(ds_titles_df)

if "title" not in ds_titles_df:
    raise AssertionError("title column not defined")
if "count" not in ds_titles_df:
    raise AssertionError("count column not defined")
if len(ds_titles_df) < 1:
    raise AssertionError("dataframe has no results")

In [0]:
# CIS 545 Hidden Test 1.2.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.2.2 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.2.3 - please do not modify or delete this cell!

## Step 1.3: Who employs "data people" based on title?

Now let's find the list of companies that have employed people with the above titles, ranked by number of employees who have had these titles.

### Step 1.3.1: Data employers

Complete the `collect_employers` function below that aggregates the employers with positions corresponding to the most recent titles of people with data science skills. This function should use the given dataframes as input and return a two column dataframe: one column called `org` and the other called `people`. Show the names of companies (in field `org`) with at least `min_count` employees who are "data people" (include that count in the `people` column). Order the dataframe by the count of data people in the company in descending order.

In [0]:
def collect_employers(experience_df, ds_titles_df, min_count):
    relevant_orgs = ds_titles_df.merge(experience_df, left_on = 'title', right_on = 'lower_title')
    orgs = relevant_orgs[['org','person']]
    orgs.columns = ['org','people']
    orgs_unique = orgs.drop_duplicates()
    orgs_counted = orgs_unique.groupby('org',as_index = False).count()
    orgs_min_count = orgs_counted[orgs_counted['people']>min_count]
    orgs_sorted = orgs_min_count.sort_values(by = ['people'], ascending = False)
    return orgs_sorted

In [0]:
# CIS 545 Sanity Check 1.3.1 - please do not modify or delete this cell!

employers_df = collect_employers(experience_df, ds_titles_df, 5)
display(employers_df)

if "IBM" not in employers_df['org'].tolist():
    raise AssertionError("Missing IBM")
    
if employers_df['people'].min() < 4:
    raise AssertionError("Not filtering properly")

In [0]:
# CIS 545 Hidden Test 1.3.1.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.3.1.2 - please do not modify or delete this cell!

### Step 1.3.2:  Their employees

Complete the `collect_employees` function below that aggregates the employees of employers with positions corresponding to the most recent titles of people with data science skills. In other words, who are the employees of the data employers you found before and what are their titles? This function should use the given dataframes as input and return the `org`, `family_name`, `given_name`, and `title` of each person.

In [0]:
# TODO: Find the employees of the data employers

# YOUR CODE HERE
raise NotImplementedError()

In [0]:
# CIS 545 Sanity Check 1.3.2 - please do not modify or delete this cell!

title_people_df = collect_employees(people_df, experience_df, employers_df, names_df, ds_titles_df)
display(title_people_df)

if len(title_people_df.columns) != 4:
    raise AssertionError('Wrong number of columns. Check schema again')

In [0]:
# CIS 545 Hidden Test 1.3.2.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.3.2.2 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.3.2.3 - please do not modify or delete this cell!

## Step 1.4: Find peers

In many common social graph settings, we can make recommendations to people based on their similarity with other people. In this case, we define similarity in terms of the number of identical skills.

Suppose A and B have similar skills: A -> X1 and B -> X1, A -> X2 and B -> X2, etc. up to A -> Xk and B -> Xk.

Then given that A and B have similar skills, we might recommend A's employer to B, and vice versa.

### Step 1.4.0: Making the problem tractable in Pandas

Let's consider only the first 100 people in `people_df`.

Find, out of this set, the pairs of people with the most shared/common skills, and return the closest 20 pairs in descending order.  We'll then use this to make a *recommendation* for a potential employer and position to each person.

### Step 1.4.1: Compute the top pairs of peers

Complete the `collect_peers` function below that finds the top `num` pairs of peers. In other words, compare each person with each *other* person, counting the total set of skills in common. This function should use the given dataframes and `num` as input and return a three column dataframe: `person_1`, `person_2`, and `common_skills`. The first two columns should be person IDs and the last column should be the number of skills that this pair of people shares.

Hint: Doing this requires a *Cartesian product*, i.e., every ID paired with every other ID.  Think about how to create a dataframe just with people IDs, then add a field to this dataframe that will let us combine every record with every record.

In [0]:
# TODO: Finish the collect_peers function

people_df_subset = people_df.head(100)

def collect_peers(people_df_subset, skills_df, num):
    # YOUR CODE HERE
    raise NotImplementedError()

In [0]:
# CIS 545 Sanity Check 1.4.1 - please do not modify or delete this cell!

recs_df = collect_peers(people_df_subset, skills_df, 20)
display(recs_df)

if "person_1" not in recs_df:
    raise AssertionError("person_1 column not defined")
if "person_2" not in recs_df:
    raise AssertionError("person_2 column not defined")
if "common_skills" not in recs_df:
    raise AssertionError("common_skills column not defined")
if(len(recs_df) != 20):
    raise AssertionError('Wrong number of rows in recs_df')

In [0]:
# CIS 545 Hidden Test 1.4.1.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.4.1.2 - please do not modify or delete this cell!

### Step 1.4.2: Get the last jobs

Complete the `last_job` function below that takes `experience_df` as input and returns the `person`, `title`, and `org` corresponding to each person's **last** (most recent) employment experience (three column dataframe).

In [0]:
# TODO: Complete the last_job function

def last_job(experience_df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [0]:
# CIS 545 Sanity Check 1.4.2 - please do not modify or delete this cell!

last_job_df = last_job(experience_df)
display(last_job_df)

if(len(last_job_df.columns) != 3):
    raise AssertionError('Wrong number of columns in last_job_df')

In [0]:
# CIS 545 Hidden Test 1.4.2.1 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.4.2.2 - please do not modify or delete this cell!

In [0]:
# CIS 545 Hidden Test 1.4.2.3 - please do not modify or delete this cell!

### Step 1.4.3: Recommend jobs

Complete the `recommend_jobs` function below that takes `recs_df`, `names_df`, and `last_job_df` as input and returns for each `person_1`, `person_2`'s most recent `title` and `org`.

In [0]:
# TODO: Complete the recommend_jobs function

def recommend_jobs(recs_df, names_df, last_job_df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [0]:
# CIS 545 Sanity Check 1.4.3 - please do not modify or delete this cell!

recommended_df = recommend_jobs(recs_df, names_df, last_job_df)
display(recommended_df)

if "family_name" not in recommended_df:
    raise AssertionError("person_1 column not defined")
if "given_name" not in recommended_df:
    raise AssertionError("person_2 column not defined")
if "person_2" not in recommended_df:
    raise AssertionError("common_skills column not defined")
if "org" not in recommended_df:
    raise AssertionError("common_skills column not defined")
if "title" not in recommended_df:
    raise AssertionError("common_skills column not defined")

In [0]:
# CIS 545 Hidden Test 1.4.3 - please do not modify or delete this cell!

# Step 2: Compare Evaluation Orders

This last section relates to our discussions in lecture about computation efficiency with big data.

## Step 2.0: Load custom functions

Let's look at some computation and optimization tasks.  We'll start with the code from our lecture notebooks, which does joins between dataframes.

In [0]:
# Join using nested loops
def merge(S,T,l_on,r_on):
    ret = pd.DataFrame()
    count = 0
    S_ = S.reset_index().drop(columns=['index'])
    T_ = T.reset_index().drop(columns=['index'])
    for s_index in range(0, len(S)):
        for t_index in range(0, len(T)):
            count = count + 1
            if S_.loc[s_index, l_on] == T_.loc[t_index, r_on]:
                ret = ret.append(S_.loc[s_index].append(T_.loc[t_index].drop(labels=r_on)), ignore_index=True)

    print('Merge compared %d tuples'%count)
    return ret
  
# Join using a *map*, which is a kind of in-memory index
# from keys to (single) values
def merge_map(S,T,l_on,r_on):
    ret = pd.DataFrame()
    T_map = {}
    count = 0
    # Take each value in the r_on field, and
    # make a map entry for it
    T_ = T.reset_index().drop(columns=['index'])
    for t_index in range(0, len(T)):
        # Make sure we aren't overwriting an entry!
        assert (T_.loc[t_index,r_on] not in T_map)
        T_map[T_.loc[t_index,r_on]] = T_.loc[t_index]
        count = count + 1

    # Now find matches
    S_ = S.reset_index().drop(columns=['index'])
    for s_index in range(0, len(S)):
        count = count + 1
        if S_.loc[s_index, l_on] in T_map:
                ret = ret.append(S_.loc[s_index].append(T_map[S_.loc[s_index, l_on]].drop(labels=r_on)), ignore_index=True)

    print('Merge compared %d tuples'%count)
    return ret

## Step 2.1: Find an optimal order of evaluation.

Reimplement `recommend_jobs` using the above `merge` or `merge_map` functions instead of Pandas' merge. Try to find the **most efficient** way.  You should start with the dataframes `recs_df`, `names_df`, and `last_job_df` from above. Store your results in `recs_new_df`

In [0]:
# TODO: Reimplement recommend jobs using our custom merge and merge_map functions

def recommend_jobs_new(recs_df, names_df, last_job_df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [0]:
# CIS 545 Sanity Check 2.1 - please do not modify or delete this cell!

%%time

recs_new_df = recommend_jobs_new(recs_df, names_df, last_job_df)

if(len(recs_new_df.columns) != 5):
    raise AssertionError('Wrong number of columns in recs_new_df')

# Step 3: Submitting Your Homework

1. When you are done, select “Edit” at the top of the window, **under the filename, not the one that may appear above it**. Then, select “Clear all outputs”. Please do this just before turning is your homework because it reduces the size of your file.


2. In the same menu **under the filename**, select “File” and then “Download .ipynb”. It is very important that you do not change the file name of this downloaded notebook. Make sure that something like “(1)” did not get added to the filename and also that you did not download the .py version. Our autograder can only handle .ipynb files with the correct file name.

3. Compress the ipynb file into a Zip file **hw2.zip**.

4. Go to the [submission site](http://submit.dataanalytics.education), and click on the Google icon.  Log in using your Google@SEAS (if at all possible!) or (if you aren’t an Engineering student) GMail account.  

5. Click on the **Courses** icon at the top, then select **CIS 545** and **Save**. Select **cis545-2019c-hw2** and upload **hw2.zip**.

6. You should see a message on the submission site notifying you about whether your submission passed validation.  You may resubmit as necessary, but may have to withdraw your previous submission in OpenSubmit in order to do so.

**If you have not already, please go to Settings and set your Student ID to your PennID (all numbers)**.